.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.allergenImg{
  width: 8vh;
}
.allergens{
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shop {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cake {
  display: flex;
  flex: 0 0 calc(33.33% - 8rem);
  height: 8rem;
  overflow: hidden;
  margin-bottom: 2rem;
  border: grey;
  border-style: solid;
  padding: 1rem;
}

.cake img {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
}

.cakeText {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  overflow: hidden;
  justify-content: space-evenly;
}

.cakeText h1 {
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MULTI-LINE ELLIPSIS */
.cakeDesc {
  font-size: 0.75rem;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cakes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* optional spacing */
  margin: 8rem;
  justify-content: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

}

.modal {

  background-color: white;
  width: 50vw;
  height: 91vh;
  overflow: auto;
}

.modal img {
  width: 50vw;
  height: auto;
}

.itemDesc {
  white-space: pre-line;
}

.btn {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  background-color: beige;
  right: 0;
}
.preview{
  width: 30vw;
  height: 20vw;
}

@media screen and (max-width: 800px) {
  .cakes {
    display: block;
  }

  .modal {
    width: 98vw;
  }

  .modal img {
    width: 95vw;
  }

}