/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  margin: 5% 2.5%;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background-image: url('./images/minitwilight.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.page {
  margin: 0 15%;
}

/* stop overscrolling*/
html,
body {
  overflow-x: hidden;
}

#header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 3%;
}
.title{
  text-align: center;
  border-bottom: 2px solid black;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
}

#header img {
  max-width: 12%;
  height: auto;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

@media screen and (min-width: 481px) and (max-width: 800px) {

  #header img {
    max-width: 20%;
  }
}

/* mobile phones */
@media screen and (max-width: 480px) {
  #header img {
    max-width: 40%;
  }

  .main {
    margin: 5% 0%;
  }

  .page {
    margin: 0 2.5%;
  }


}

.textwithwoman {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.wrapper {
  display: flex;
  align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
}

.textwithwoman h3 {
  min-width: 30%;
}

/* make image responsive */
.textwithwoman img {
  max-width: 100%;
  height: auto;
}

/* cart item*/