#nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  gap: 10px;
}

#header {
  display: flex;
  background-color: green;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 10%;
}

#header img {
  max-width: 25%;
  height: auto;
}

#footer {
  display: flex;
}

#carousel {
  display: flex;
  justify-content: center;
  max-width: 50%;
  align-items: center;
}

#carousel {
  width: 100%;
}

.footer-container {
  display: flex;
  border-style: dashed;
  flex-direction: column;
  flex: 1 1 0px;
  flex-grow: 1;
  justify-content: center;
  text-align: center;

}

#join-form {
  display: flex;
  flex-direction: column;
}

#submit-line {
  display: flex;
  flex-direction: row;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 10px 25%;
}

#privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

#contact {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  background-color: beige;
  right: 0;
}

.shop {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cake {
  display: flex;
  flex: 0 0 calc(33.33% - 8rem);
  height: 8rem;
  overflow: hidden;
  margin-bottom: 2rem;
  border: grey;
  border-style: solid;
  padding: 1rem;
}

.cake img {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
}

.cakeText {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  overflow: hidden;
  justify-content: space-evenly;
}

.cakeText h1 {
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MULTI-LINE ELLIPSIS */
.cakeDesc {
  font-size: 0.75rem;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cakes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* optional spacing */
  margin: 8rem;
  justify-content: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

}

.modal {

  background-color: white;
  width: 50vw;
  height: 91vh;
  overflow: auto;
}

.modal img {
  width: 50vw;
  height: auto;
}

.itemDesc {
  white-space: pre-line;
}

.btn {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  background-color: beige;
  right: 0;
}

@media screen and (max-width: 800px) {
  .cakes {
    display: block;
  }

  .modal {
    width: 98vw;
  }

  .modal img {
    width: 95vw;
  }

}